@page "/"
@page "/docs/api"
@page "/docs"
@using MudX.Docs.Data

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Class="mb-4 mt-4" Typo="Typo.h3">Welcome to <span class="mudx-outlined-text">MudX</span></MudText>
    <MudText>
        A third party extension library for MudBlazor. MudX is an open source project that is not affiliated with MudBlazor. 
        We offer extensions that build on top of MudBlazor components and stand alone extensions using MudBlazor styles
        and components.
    </MudText>
    <MudText Class="mt-1" Typo="Typo.subtitle1">
        <MudLink OnClick="@(() => _versionsShow = !_versionsShow)">
            Library Versions Supported
            <MudPopover Open="_versionsShow" AnchorOrigin="Origin.CenterRight" Class="ml-3" TransformOrigin="Origin.CenterLeft">
                <MudList T="string">
                    @foreach (var version in versionList.Versions)
                    {
                        <MudListItem Href="@version.Url" Target="_blank">@version.ToString()</MudListItem>
                    }
                </MudList>
            </MudPopover>
        </MudLink>
            <div class="d-flex py-4 mb-16 mb-md-0">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="mudx-button-gradient-primary" Size="Size.Large" Href="/installation">Get started</MudButton>
                <MudButton Color="Color.Default" Variant="Variant.Outlined" StartIcon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Class="ms-4" Href="https://github.com/Versile2/MudX/" Target="_blank">Star on GitHub</MudButton>
            </div>
    </MudText>
</MudContainer>

<MudOverlay @bind-Visible="_versionsShow" AutoClose Modal />

@code {
    private bool _versionsShow = false;
    private VersionsList versionList = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }
}