@page "/installation"
@using MudX.Docs.Breadcrumbs

<PageTitle>Installation</PageTitle>

<DocsPageHeader Title="Installation" Class="ml-2">
    <Description>
        Getting started with MudX is easy:
        <ul class="ml-10 mt-2"> 
            <li><strong>Step 1:</strong> Install <MudLink Href="https://mudblazor.com/getting-started/installation" Target="_blank">MudBlazor</MudLink>.</li>
            <li><strong>Step 2:</strong> Add MudX to your project via NuGet.</li>
            <li><strong>Step 3:</strong> Include the <CodeInline>MudXProvider</CodeInline> in your layout <b>or</b> reference <code>mudx.min.css</code> and <code>mudx.min.js</code> in your project <em>with cache busting</em>.</li>
            <li><strong>Step 4:</strong> Start using components — all MudX components are prefixed with <CodeInline>MudX</CodeInline>, such as <CodeInline>MudXOutline</CodeInline>.</li>
            <li><strong>Step 5:</strong> Browse the <MudLink Href="docs">documentation</MudLink> to learn how to use each component.</li>
            <li><strong>Step 6:</strong> Visit the <MudLink Href="https://github.com/MudXtra/Mudx" Target="_blank">MudX GitHub repo</MudLink> to report issues or request help.</li>
            <li><strong>Step 7:</strong> Try MudX in your browser with no setup required at <MudLink Href="https://try.Mudx.org" Target="_blank">Try MudBlazor with Extensions</MudLink>.</li>
            <li><strong>Step 8:</strong> Optionally update/change your MudBlazor theme at <MudLink Href="https://themes.Mudx.org" Target="_blank">MudBlazor Theme Creator</MudLink>.</li>
        </ul>
    </Description>
</DocsPageHeader>
