@page "/installation"
@using MudX.Docs.Breadcrumbs

<PageTitle>Installation</PageTitle>

<DocsPageHeader Title="Installation" Class="ml-2">
    <Description>
        Getting started with MudX is simple. 

        <ul class="ml-10 mt-2">
            <li><strong>First</strong>: Install <MudLink Href="https://mudblazor.com/getting-started/installation" Target="_blank">MudBlazor</MudLink>.</li>
            <li><strong>Second</strong>: Download MudX using Nuget and add it to your project.</li>
            <li><strong>Third</strong>: Add <CodeInline>MudXProvider</CodeInline> to your layout or add mudx.min.css and mudx.min.js to your project <b<i>with cache busting</i></b>.</li>
            <li><strong>Fourth</strong>: Use components, they all start with MudX, like <CodeInline>MudXOutline</CodeInline>.</li>
            <li><strong>Fifth</strong>: Explore the <MudLink Href="docs">Docs</MudLink> to learn how to master all the components.</li>
            <li><strong>Seventh</strong>: Explore <MudLink Href="https://github.com/versile2/Mudx" Target="_blank">MudX on GitHub</MudLink> for discussion and issues."</li>
        </ul>
    </Description>
</DocsPageHeader>
