@page "/installation"
@using MudX.Docs.Breadcrumbs

<PageTitle>Installation</PageTitle>

<DocsPage>
    <DocsPageHeader Title="Installation">
        <Description>
            Getting started with MudX is simple. 

            <ul class="ml-10 mt-2">
                <li><strong>First</strong>: Install <MudLink Href="https://mudblazor.com/getting-started/installation" Target="_blank">MudBlazor</MudLink>.</li>
                <li><strong>Second</strong>: Download MudX using Nuget and add it to your project.</li>
                <li><strong>Third</strong>: Use components, they all start with MudX, like <CodeInline>MudXOutline</CodeInline>.</li>
                <li><strong>Fourth</strong>: Explore the <MudLink Href="docs">Docs</MudLink> to learn how to master all the components.</li>
            </ul>
        </Description>
    </DocsPageHeader>

</DocsPage>