@using Microsoft.AspNetCore.Components.Rendering
@inherits MudXBreadcrumbsBase
@namespace MudX

<div class="mudx-breadcrumbs-wrapper">
   @((RenderTreeBuilder builder) => base.BuildRenderTree(builder))
</div>