@namespace MudX
@inherits MudComponentBase

@PrismTheme

<div class="@Classname" style="@Stylename" @attributes="@UserAttributes">
    <pre><code class="@_languageClass">@_codeFile?.Code</code></pre>
</div>