@page "/docs/breadcrumbs"
@using MudX.Docs.Breadcrumbs

<PageTitle>Breadcrumbs</PageTitle>

<DocsPage>
    <DocsPageHeader>
        <Description>
            Extends <CodeInline>MudBreadcrumb</CodeInline> to automatically listen to route changes and update
            breadcrumbs. Best placed inside a <CodeInline>MainLayout</CodeInline>.

            Key differences from <CodeInline>MudBreadcrumb</CodeInline>:
            <ul class="ml-10">
                <li><strong>New Properties</strong>: <CodeInline>HomeText</CodeInline> and <CodeInline>FormatFunc</CodeInline> are optional.</li>
                <li><strong>Restricted Properties</strong>: <CodeInline>Items</CodeInline> cannot be set directly.</li>
            </ul>

            The component automatically updates breadcrumbs based on your navigation state. As long as your <CodeInline>@@page</CodeInline>
            routes are properly configured, breadcrumbs will display correctly without manual intervention.
        </Description>
    </DocsPageHeader>

    <DocsPageSection Title="Basic Usage">
        <Description>
            You would normally put it inside your <CodeInline>MainLayout</CodeInline> but it is
            not required.
        </Description>
        <SectionContent>
            <BreadcrumbsBasicExample />
        </SectionContent>
    </DocsPageSection>

    <DocsPageSection Title="Customization">
        <Description>
            Most settings carry over from the <CodeInline>MudBreadcrumb</CodeInline> component. 
            Obviously <CodeInline>Items</CodeInline>, <CodeInline>ItemTemplate</CodeInline>, 
            and <CodeInline>Icons</CodeInline> do not transfer. You can place this anywhere and so
            long as your <CodeInline>page</CodeInline> declarations are setup in a manner to be mapped
            it will work naturally. 
        </Description>
        <SectionContent>
            <BreadcrumbsSettingsExample />
        </SectionContent>
    </DocsPageSection>

    <DocsPageSection Title="Collapsed">
        <Description>
            By setting the <CodeInline>MaxItems</CodeInline> parameter you can automatically 
            collapse the breadcrumbs when it exceeds a number of items.
        </Description>
        <SectionContent>
            <BreadcrumbsSettingsExample />
        </SectionContent>
    </DocsPageSection>

</DocsPage>