@page "/docs/breadcrumbs"
@using MudX.Docs.Breadcrumbs

<PageTitle>Breadcrumbs</PageTitle>

<DocsPage>
    <DocsPageHeader>
        <Description>
            Extends <CodeInline>MudBreadcrumb</CodeInline> to automatically listen to route changes and update
            breadcrumbs. Best placed inside a <CodeInline>MainLayout</CodeInline>.

            Key differences from <CodeInline>MudBreadcrumb</CodeInline>:
            <ul class="ml-10">
                <li><strong>New Property</strong>: <CodeInline>HomeText</CodeInline> is optional.</li>
                <li><strong>Restricted Properties</strong>: <CodeInline>Items</CodeInline> cannot be set directly.</li>
            </ul>

            The component automatically updates breadcrumbs based on your navigation state. As long as your <CodeInline>@@page</CodeInline>
            routes are properly configured, breadcrumbs will display correctly without manual intervention.
        </Description>
    </DocsPageHeader>

    <DocsPageSection Title="Basic Usage">
        <Description>
            You would normally put it inside your <CodeInline>MainLayout</CodeInline> but it is
            not required. Nor does it require any additional configuration or propeties to start working.
        </Description>
        <SectionContent>
            <BreadcrumbsBasicExample />
        </SectionContent>
    </DocsPageSection>

    <DocsPageSection Title="Customization">
        <Description>
            Most settings carry over from the <CodeInline>MudBreadcrumb</CodeInline> component. 
            <CodeInline>Items</CodeInline> do not transfer. You can place this anywhere and so
            long as your <CodeInline>page</CodeInline> declarations are setup in a manner to be mapped
            it will work naturally. 
        </Description>
        <SectionContent>
            <BreadcrumbsSettingsExample />
        </SectionContent>
    </DocsPageSection>

    <DocsPageSection Title="Collapsed">
        <Description>
            By setting the <CodeInline>MaxItems</CodeInline> parameter you can automatically 
            collapse the breadcrumbs when it exceeds a number of items.
        </Description>
        <SectionContent>
            <BreadcrumbsMaxItemsExample />
        </SectionContent>
    </DocsPageSection>

    <DocsPageSection Title="Formatting">
        <Description>
            A new settings is supplied to <CodeInline>MudXBreadcrumbs</CodeInline>, <CodeInline>HomeText</CodeInline>.
            Home Text is the translation of the base path "/" to display as the text you define. <CodeInline>ItemTemplate</CodeInline>
            still allows you to customize your breadcrumbs as you desire, with the example just showing Icons. 
        </Description>
        <SectionContent>
            <BreadcrumbsHomeFormatExample />
        </SectionContent>
    </DocsPageSection>

</DocsPage>

@code {
    private static string __title__ = "Global Breadcrumbs";
}