@inherits MudComponentBase
@namespace MudX

<div id="@SectionId" class="@($"{Class} mudx-toc-section")" style="@Style" @attributes="@UserAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>