.docs-section-content {
    background-color: var(--mud-palette-surface);
}

    .docs-section-content .docs-section-inner {
        max-height: 500px;
        overflow-y: auto;
    }

    .docs-section-content .docs-section-code {
        max-height: 500px;
        overflow-y: auto;
    }

.docs-api-grid .mud-table-container {
    max-height: 350px;
}

.mudx-outlined-text {
    letter-spacing: 2px;
    color: var(--mud-palette-primary);
    text-shadow: -.5px -.5px var(--mud-palette-divider), .5px -.5px var(--mud-palette-divider), -.5px .5px var(--mud-palette-divider), .5px .5px var(--mud-palette-divider);
}

.mudx-button-gradient-primary {
    position: relative;
    background-image: linear-gradient( 82deg, var(--mud-palette-primary) 0%, var(--mud-palette-primary) 100%, var(--mud-palette-primary) 200% );
}

@media (hover: hover) and (pointer: fine) {
    .mudx-button-gradient-primary:hover {
        box-shadow: 0.3px 0.5px 0.4px hsla(247deg, 59%, 41%, 0.62), 0.3px 0.6px 0.5px -0.7px hsla(247deg, 59%, 41%, 0.54), 0.8px 1.6px 1.3px -1.4px hsla(247deg, 59%, 41%, 0.46), 2px 4.1px 3.4px -2.1px hsla(247deg, 59%, 41%, 0.38), 4.5px 9px 7.5px -2.9px hsla(247deg, 59%, 41%, 0.31), 8.5px 17.1px 14.3px -3.6px hsla(247deg, 59%, 41%, 0.23), 14.6px 29.2px 24.5px -4.3px hsla(247deg, 59%, 41%, 0.15), 23px 46px 38.6px -5px hsla(247deg, 59%, 41%, 0.08);
    }
}

.mudx-button-gradient-primary:active {
    box-shadow: 0.3px 0.5px 0.4px hsla(247deg, 59%, 41%, 0.62), 0.3px 0.6px 0.5px -0.7px hsla(247deg, 59%, 41%, 0.54), 0.8px 1.6px 1.3px -1.4px hsla(247deg, 59%, 41%, 0.46), 2px 4.1px 3.4px -2.1px hsla(247deg, 59%, 41%, 0.38), 4.5px 9px 7.5px -2.9px hsla(247deg, 59%, 41%, 0.31), 8.5px 17.1px 14.3px -3.6px hsla(247deg, 59%, 41%, 0.23), 14.6px 29.2px 24.5px -4.3px hsla(247deg, 59%, 41%, 0.15), 23px 46px 38.6px -5px hsla(247deg, 59%, 41%, 0.08);
}

.docs-section-toolbar {
    background-color: var(--mud-palette-drawer-background);
    color: var(--mud-palette-drawer-text);
}

.docs-stack-col {
    min-width: 150px;
}

.docs-code {
    display: inline-block;
    padding: 0 5px;
    direction: ltr;
    font-weight: 900;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.4;
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
}

    .docs-code.docs-code-primary {
        color: var(--mud-palette-primary);
        background-color: var(--mud-palette-primary-hover);
    }

    .docs-code.docs-code-secondary {
        color: var(--mud-palette-secondary);
        background-color: var(--mud-palette-secondary-hover);
    }

    .docs-code.docs-code-tertiary {
        color: var(--mud-palette-tertiary);
        background-color: var(--mud-palette-tertiary-hover);
    }

.background-textbox .mud-input input.mud-input-root {
    background-color: var(--mud-palette-background) !important;
    border-radius: var(--mud-default-borderradius);
}
.background-textbox .mud-input {
    background-color: var(--mud-palette-background) !important;
}