@namespace MudX
@inherits MudComponentBase

<div class="mudx-code-container" @attributes="@UserAttributes">
    <MudStack Row="@Row"
                AlignItems="AlignItems.Center"
                Justify="Justify.Center"
                Spacing="@Spacing">

    </MudStack>
</div>